<div class="well">
	<h4><%=visit.user.username%>'s visit</h4>
	<p><strong>Date: </strong><%=visit.date%></p>
	<p><strong>Rating: </strong><%=visit.rating%></p>
	<p><strong>Comment: </strong><%=visit.comment%></p>
</div>