<h1>Visit</h1>

<%= render partial: "places/place", object: @place, as: 'place' %>

<%= render partial: "visit", object: @visit, as: 'visit' %>

<%= link_to 'Edit', edit_place_visit_path(@place, @visit) , class:"btn btn-default"%>
<%= link_to 'Back', user_visits_path(current_user) , class:"btn btn-default"%>

<script type="text/javascript">
google.maps.event.addDomListener(window, 'load', initialize);
</script>

