<div class="page-header">
<h1>About</h1>
</div>

<div style="text-align:center;">
<h2><strong>Dream Places</strong></h2>
<h3><em>"Creating your perfect visits"</em></h3>
</div>
<br>
<article style="text-align:center;">
	<p class="lead">Dream Places is about not having regrets. The world is beautiful and full of amazing places and people that many of us just wish we could go and explore.</p>
	
	<p class="lead">Dream Places helps you do just that.</p>

	<p class="lead">Dream Places helps you create their perfect trips or vacations. With recommendations from friends, you get advice from friends who have been there done that. Your trip is built on advice that you can trust, ensuring the most awesome trip experience.</p>

<!-- 	<p>When your dream places are created, the platform will automatically suggest that best routes and travel service providers, including flights, hotels, transport, local tours, etc. (coming soon...)</p> -->

	<!-- <p>So why wait? <a href="localhost:3000">Sign up</a> to Dream Places now!</p> -->
</article>
<br>

<div class="page-header">
<h1>How It Works</h1>
</div>

<div class="container-fluid">
	<div class="row-fluid">  
	<div class="col-md-4">
	  <!-- <div class="span4"> -->
		<div class="panel panel-info">
			<div class="panel-heading">
	    		<h3 class="panel-title">1. Search for your dream places</h3>
	  		</div>
			
			<div class="panel-body">
	    	Add a visit. Search by name or address or simply drop a pin on the map.
	    	<br>
	    	<br>
	  		</div>
		</div>
	  <!-- </div> -->
	</div>
	<div class="col-md-4">
	  <!-- <div class="span4"> -->
		<div class="panel panel-warning">
			<div class="panel-heading">
	    		<h3 class="panel-title">2. Get recommendations from friends</h3>
	  		</div>
			<div class="panel-body">
	    	Recommend places or your visits to your friends. Likewise, receive wonderful recommendations from friends. Share and exchange tips too.
	  		</div>
		</div>
	  <!-- </div> -->
	 </div>
	<div class="col-md-4">
	  <!-- <div class="span4"> -->
		<div class="panel panel-success">
			<div class="panel-heading">
	    		<h3 class="panel-title">3. Manage your visits</h3>
	  		</div>	
			<div class="panel-body">
	    	Plan an itinerary. Rank your places. Order your visits. Whatever you do, make your perfect trip.
	    	<br>
	    	<br>
	  		</div>
		</div>
	  <!-- </div> -->
	</div>
	</div>
</div>
