
.border_box {
	border-color: rgb(227, 227, 227);
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	padding: 20px;
	margin-bottom: 20px;
}

/*Style for Google Map*/
#map-canvas { height: 200px; width: 100%; margin: 0; padding: 0;}

.big-map {
	height: 400px !important;
}

.hidden {
	visibility: hidden;
}

/*Style for carroussel*/
.item{
    background: #333;    
    text-align: center;
    height: 200px !important;
}
.carousel{
    /*margin-top: 20px;*/
}


/*Style for visit and place container*/
.place{
	height: 200px;
}

.visit{
	height: 200px;
}

.small-img {
	max-height: 180px;
}

/*Style for favorites and five stars rating*/
.corner-icon {
	position:absolute !important;
	top: 0 !important;
	right:0 !important;
	font-size: 20px !important;
}

.glyphicon-heart {
	color: red;
}

.glyphicon-star {
	color: orange;
}

.glyphicon-star-empty {
	color: gray;
}

.btn-default {
	background-color: #eeeeee !important;
	border-color: #bbbbbb !important;
}

/*Style for navbar*/
.navbar.navbar-default.navbar-fixed-top.custom {
	border-bottom: 1px solid #4177ae;
}