
.border_box {
	border-color: rgb(227, 227, 227);
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	padding: 20px;
	margin-bottom: 20px;
}

#map-canvas { height: 300px; width: 300px; margin: 0; padding: 0;}

.rating > span:hover:before {
   content: "\2605";
   position: absolute;
}

.rating {
	color: gray;
}

.on {
	color: orange;
}
