
.border_box {
	border-color: rgb(227, 227, 227);
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	padding: 20px;
	margin-bottom: 20px;
}

/*Style for Google Map*/
#map-canvas { height: 200px; width: 100%; margin: 0; padding: 0;}

.big-map {
	height: 400px !important;
}

/*Style for 5 stars rating*/
.rating > span:hover:before {
   content: "\2605";
   position: absolute;
}

.rating {
	color: gray;
}

.on {
	color: orange;
}

.hidden {
	visibility: hidden;
}

/*Style for carroussel*/
/*h2{
    margin: 0;     
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;    
}*/
.item{
    background: #333;    
    text-align: center;
    height: 200px !important;
}
.carousel{
    /*margin-top: 20px;*/
}


/*Style for visit and place container*/
.place{
	height: 200px;
}

.visit{
	height: 200px;
}

.small-img {
	max-height: 180px;
}

/*===================================*/
.corner-icon {
	position:absolute !important;
	top: 0 !important;
	right:0 !important;
	font-size: 20px !important;
	
	/*width: 0 !important;
	height: 0 !important;
	border-top: 20px solid gray !important;
	border-left: 20px solid transparent !important; */
}

.red {
	color: red;
}
